
:root{
    --tipoFuente:Arial;
    --colorFuente:#fff;
    --tamanioFuente:18px;
    --colorFondoPrincipal:#21212c;
    --colorContraste:#0C39B9;
    --colorPlaceholder:#3398B9;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-image: url('https://fondosmil.com/fondo/23179.jpg');
}
.form-registro{
    width: 450px;
    background-color: var(--colorFondoPrincipal);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: var(--tipoFuente);
    color: var(--colorFuente);
    box-shadow: 7px 17px 37px #000;
}

.form-registro h4{
    font-size: var(--tamanioFuente);
    margin-bottom: 20px;
}

.controles{
    width: 100%;
    background-color: var(--colorFondoPrincipal);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 2px solid var(--colorContraste) ;
    font-size: var(--tamanioFuente);
    height: 45px;
    color: var(--colorFuente);
}

.form-registro p{
    font-size: var(--tamanioFuente);
    height: 50px;
    text-align: center;
    line-height: 40px;
}
.form-registro a{
    text-decoration: none;
    color: var(--colorFuente);
}

.form-registro a:hover{
text-decoration: underline;
}

.boton{
    width: 100%;
    background-color: var(--colorContraste);
    font-size: var(--tamanioFuente);
    color: var(--colorFuente);
    border-radius: 8px;
    border: 0px;
    padding: 12px;
}

.boton:hover{
    background-color: #4C74E6;
}

::placeholder{
    color:var(--colorPlaceholder) ;
}

